*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #eee;
    border-bottom: 2px solid gray;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    cursor: pointer;
}


.container {
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}

.container h1 {
    margin: 20px 0px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 20px;
    padding: 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card-content {
    padding: 10px;
}

.card-content h2 {
    margin: 10px 0px;
}